[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Jessicawatsonmiller
[user]
	email = jessicawatsonmiller@gmail.com
[core]
	autocrlf = true
